.ipynb_checkpoints
BERTimbau_base_GoEmotions_portuguese
artefatos/BERTimbau_large_GoEmotions_portuguese/config.json
artefatos/BERTimbau_large_GoEmotions_portuguese/vocab.txt
artefatos/BERTimbau_large_GoEmotions_portuguese/tokenizer_config.json
artefatos/BERTimbau_large_GoEmotions_portuguese/special_tokens_map.json
artefatos/BERTimbau_large_GoEmotions_portuguese/pytorch_model.bin
*.pkl
/venv
